body {
    background-image: url(../afbeeldingen/pexels-maurice-engelen-14754123.jpeg);
   
    width: 100%;
    height: 100%;
   
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    
    color:white;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.25 );
   }
   
footer{
    
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  display: flex;
   }
   .copyright{
    text-align: center;
   }
   .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  /*Button CTA*/
  .button-wrapper {
    display: block;
    text-align: center;
  }
  .button {
    border: none;
    border-radius: 3em;
    box-shadow: 2px 2px 2px rgba(119, 203, 230);
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    width: auto;
  }
  .cta-button {
    background-color: #000;
    color: #fff !important;
  }
  
  .cta-button:hover {
    background-color: #777;
  }

   